<ul>
  <li><a href="/register">Общий список</a></li>
  <li><a href="/register/student">Создать студента</a></li>
  <li><a href="/register/teacher">Создать учителя</a></li>
  <li><a href="/register/group">Создать группу</a></li>
</ul>
