<link rel="stylesheet" href="/style/footer.css">
<footer class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <ul>
          <li><a href="#">Дистанционное обучение</a></li>
          <li><a href="#">Правила пользования сервисом</a></li>
          <li><a href="#">Часто задаваемые вопросы</a></li>
          <li><a href="#">Поддержка</a></li>
          <li><a href="#">Быстрая связь</a></li>
        </ul>
        <p>
          Краснознаменский городской колледж @2020. Все права защищены
        </p>
      </div>
      <div class="col-6">
        Powered by CyberHand Web Studio
      </div>
    </div>
  </div>
</footer>
