
h1,h2,h3,p,ul,li,a{
  font-family:'Roboto Mono', Courier, monospace;
}

/* header */

.navbar{
  background-color: #1B2845;
}

/* admin layouts */

.admin__layout{
  padding-top: 5%;
  padding-bottom: 5%;
}

.admin__layout .top__form,
.admin__layout .top__form button
{
  margin-top: 5%;
}

.admin__layout .top__form label
{
  padding-top: 5%;
}

.admin__layout .top__form input,
.admin__layout .top__form select
{
  width: 50%;
}

.table__student-group{
  margin-top: 5%;
}

/* footer */

footer{
  background-color: #1B2845;
}

footer .container{
  padding-top: 50px;
}

a{
  color: white;
}

a{
  text-decoration: none;
}

footer li{
  list-style: none;
  padding-bottom: 5%;
}

footer img{
  width: 100%;
}

.text__author{
  text-align: center;
  color: white;
}

.timetable__block{
  background-color: #F2F2F2;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-out;
  
}

.timetable__block:hover{
  box-shadow: 8px 15px 10px rgba(0, 0, 0, 0.25);
}

.timetable__block h2{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.lesson__block{
  margin-left: 10%;
  margin-right: 10%;
}

.lesson__block p:first-child{
  border-bottom: solid black 2px;
}

